.SL-form {
  display: block;
  margin: 10px 0;
}

.form-label {
  width: 100%;
  margin: 10px 0;
  display: block;
  position: relative;

  .labelText {


    .fa {
      position: absolute;
      left: 23px;
      top: 20px;
      font-size: 14px;
      color: $primary-color;
    }

    .placeholder-text {
      display: none;
    }

  }


}

.no-placeholder .form-label .placeholder-text {
  display: inline-block;
}

.input {
  width: 100%;
  display: block;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #1a6177;
  font-size: 13px;
  color: #fff;
  background-color: $main-color;
  padding: 20px 20px 20px 52px;

  &:focus, &:active {
    outline: none;
    box-shadow: 0 0 3px #0f6ab4;
  }
}
textarea.input {
  resize: vertical;
  min-height: 120px;
  padding-left: 20px;
}

.autocompleter {
  position: relative;

  .fa {
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 26px;
  }

  .autocompleter-list {
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    box-shadow: 0 3px 10px rgba(157,158,159, 0.35);
    border: 1px solid #e5e9ed;
    box-sizing: border-box;
    overflow: hidden;
  }

  .autocompleter-item {
    font-size: 16px;
    color: $dark-text-color;
    list-style: none;

    .suggestionLabel {
      display: block;
    }
    .suggestion {
      padding: 16px 23px;
      display: block;
      position: relative;
      z-index: 1;
    }
    .radio-hidden {
      position: absolute;
      z-index: -1;
      width: 1px;
      height: 1px;
    }
    .radio-hidden:checked + .suggestion {
      background-color: $light-hover-color;
    }

  }
  .autocompleter-item:hover .suggestion {
    background-color: $light-hover-color;
  }

}