.container {
  max-width: $max-container-width;
  width: 100%;
  margin: 0 auto;
}
.no-scroll {
  overflow: hidden;
}
.sr-only {
  @include sr-only();
}
.responsive {
  display: block;
  max-width: 100%;
}
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.mobile-hide {
  @include media-down($mobile) {
    display: none !important;
  }
}
.phablet-hide {
  @include media-between($small, $phablet) {
    display: none !important;
  }
}
.tablet-hide {
  @include media-between($phablet, $tablet) {
    display: none !important;
  }
}
.desktop-hide {
  @include media-between($tablet, $desktop) {
    display: none !important;
  }
}
.large-hide {
  @include media-up($desktop) {
    display: none !important;
  }
}
.mobile-sr {
  @include media-down($mobile) {
    @include sr-only();
  }
}
.tablet-sr {
  @include media-between($phablet, $tablet) {
    @include sr-only();
  }
}
.desktop-sr {
  @include media-up($desktop) {
    @include sr-only();
  }
}
