.SL-card-slot {
  width: 33.3333%;
  display: inline-block;
  text-align: center;
  vertical-align: top;

  .main {
    margin: 20px 15px;
    border: 3px dashed #e4e9ec;
    box-sizing: border-box;
    height: 230px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    z-index: 0;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  .actionWrp {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    vertical-align: middle;
    margin-top: -60px;
    z-index: 1;
  }

  .addNewCardText {
    font-size: 18px;
    display: block;
    margin-top: 25px;

    strong {
      color: $main-color;
    }
  }
}

.SL-card-slot.full {
   .cardPicture {
     display: block !important;
   }
}

.SL-card-slot.empty {
  .formWrp {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
.SL-card-slot.filled {

  .main {
    background-color: #fff;
    border: 0;
    cursor: default;
    padding: 0 20px 0;
    height: 230px;
  }

  .cardPicture {
    position: relative;
    top: -140px;

    .cardImage {
      display: block;
      width: 223px;
      min-height: 310px;
      margin: 0 auto;
    }
  }

  .cardTitle {
    color: $secondary-color;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 28px;
    margin-top: (-100px + 56px);
    height: 0;
    visibility: hidden;
  }

  .cardType {
    color: $gray;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 20px;
    height: 0;
    visibility: hidden;
  }

  .cardDescription {
    text-align: left;
    font-size: 16px;
    height: 0;
    visibility: hidden;
  }

  .viewCardBtn,
  .removeCardBtn {
    position: absolute;
    bottom: (74px / -2);
    z-index: 3;
  }
  .removeCardBtn {
    right: 30px;
  }
  .viewCardBtn {
    background-color: $main-color;
    color: #fff;
    right: (30px + 74px + 30px);
  }

}

@include media-down($desktop) {
  .SL-card-slot {
    display: block;
    width: 100%;
    max-width: 465px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    &.empty {
      margin-bottom: 15px;
    }

    .main {
      margin-left: 0;
      margin-right: 0;
      height: 155px;
    }

    .cardTitle {
      margin-top: 0;
      padding-top: 48px;
    }

    .addNewCardText {
      font-size: 14px;
    }
  }

  .SL-card-slot.short {
    .cardPicture {
      display: none;
    }
  }

  .SL-card-slot.full {
    .cardPicture {
      display: block;
      top: -40px;
    }
  }

  .SL-card-slot.filled {
    .main {
      height: auto;
      padding-bottom: 64px;
      margin-bottom: 60px;

      .cardType,
      .cardTitle,
      .cardDescription {
        height: auto;
        visibility: visible;
      }

    }
  }

  .filled:first-child {
    margin-top: 60px;
  }

  .SL-card-slot.empty + .SL-card-slot.filled {
    margin-top: 60px;
  }

  .SL-card-slot.filled + .SL-card-slot.filled {
    margin-top: 100px;
  }

}