@import '../lib/variables';

.SL-header {
  color: $header-links-color;
  display: table;
  width: 100%;
  padding-top: 20px;

  .title {
    display: table-cell;
    font-size: 24px;
    color: $secondary-color;
  }

  .subTitle {
    font-size: 14px;
    font-weight: normal;
    color: $header-links-color;
    display: inline-block;
    text-transform: none;
  }

  .mobileMenuBtn {
    width: 85px;
    height: 85px;
    background: none;
    border: 0;
    border-radius: 0;
    z-index: 1;

    .fa {
      font-size: 38px;
      color: $dark-text-color;
    }

  }

  .headerLinks {
    display: table-cell;
    text-align: right;
    color: $header-links-color;
    vertical-align: middle;
    width: calc(100% - 273px);
  }

  .headerLink {
    display: inline-block;
    vertical-align: middle;
    padding: 30px 15px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
  }

  .navLinkText {
    display: inline-block;
    color: $header-links-color;
    padding: 0 3px 7px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
  }

  .navLink.active .navLinkText {
    color: $active-link-color;
    border-bottom: 2px solid $active-link-color;
  }

}

@include media-up($desktop) {
  .SL-header {
    .headerLink {
      padding: 30px 10px;
    }

    .title .subTitle {
      margin: 0;
      top: 0;
    }

  }
}
@include media-down($tablet) {
  .SL-header {
    padding-top: 0;

    .logo {
      width: auto;
      display: block;
      padding: 10px;

      .subTitle {
        position: relative;
        top: 0;
        margin-left: 0;
      }
    }

    .mobileMenuBtn {
      position: absolute;
      right: 0;
      top: 10px;
    }

    .headerLinks {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      padding-top: 20px;
      width: auto;
      z-index: 1;
    }

    .navLink {
      display: block;
      text-align: left;
      padding: 20px 20px;
      margin: 0;
    }
    .navLink:hover {
      background-color: $light-hover-color;
    }
  }

}

@include media-down($mobile) {
  .SL-header {
    margin-top: 15px;

    .logo .title {
      padding-right: 60px;
    }

  }
}