.btn {
  border-radius: 100%;
  width: 73px;
  height: 73px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 0;

  .fa {
    font-size: 150%;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
  border: 1px solid $primary-color;
}
.btn-secondary {
  background-color: $secondary-color;
  color: #fff;
  border: 1px solid $secondary-color;
}
.btn-default {
  background-color: $main-color;
  color: #fff;
  border: 1px solid $main-color;
}

.btn-submit {
  max-width: 250px;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  float: right;
}

.btn.loading {
  position: relative;
  .fa-spin {
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: (26px * -0.5) 0 0 (26px * -0.5);
  }
  .btnText {
    display: inline-block;
    text-indent: -9999em;
  }
}

