@import './variables';


@function min-width($value) {
  @return ($value + 1);
}
@function max-width($value) {
  @return ($value - 1);
}
// media query mixin
// usage:
// @include media($mobile) {
//   display: none;
//}
@mixin media($bp) {
  @if $bp == small {
    @media (max-width: $small)  { @content; }
  }
  @else if $bp == phablet {
    @media (min-width: min-width($phablet)) { @content; }
  }
  @else if $bp == tablet {
    @media (min-width: min-width($tablet)) { @content; }
  }
  @else if $bp == desktop {
    @media (min-width: min-width($desktop)) { @content; }
  }
  @else if $bp == large {
    @media (min-width: min-width($large)) { @content; }
  }
  @else if $bp {
    @media (min-width: $bp) { @content; }
  }

}

@mixin media-up($bp) {
  @media screen and (min-width: #{$bp}) { @content; }
}
@mixin media-down($bp) {
  @media screen and (max-width: #{$bp}) { @content; }
}
@mixin media-between($min, $max) {
  @media screen and (min-width: min-width($min)) and (max-width: $max) { @content; }
}

@mixin sr-only() {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
  text-indent: -9999em;
  display: block;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}
