html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl,
dt, dd, blockquote, address, div {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  padding: 0;
}
body {
  min-height: 100%;
  margin: 0;
}
img {
  border: 0;
}
