$header-links-color: #123f5f !default;
$bg-color: #f6f8fa !default;
$text-color: #a1a8af !default;
$dark-text-color: #011921 !default;
$primary-color: #011a21 !default;
$secondary-color: #2c90db !default;
$main-color: #004e65 !default;
$dark-main-color: #003c4e !default;
$active-link-color: $main-color;
$light-hover-color: #f5f6f8 !default;
$gray: #82878c !default;
$max-container-width: 1388px !default;

$font-family: 'Varela Round', sans-serif !default;

// breakpoints

$mobile: 767px;
$small: 575px;
$phablet: 767px;
$tablet: 991px;
$desktop: 1199px;
$large: 1600px;
