.SL-content {
  font-size: 16px;
  padding: 0 30px;

  @include media-down($tablet) {
    padding: 0 15px;
  }

  .container {
    max-width: 1056px;
  }

  .commonSection {

    .article {
      background: $main-color;
      color: #fff;
      padding: 74px 20px 80px;
      margin-left: -30px;
      margin-right: -30px;
    }

    @include media-down($tablet) {
      .article {
        margin-left: -35px;
        margin-right: -35px;
        padding: 74px 20px 80px;
      }
    }
    @include media-between($phablet, $tablet) {
      padding-left: 20px;
      padding-right: 20px;

    }
    @include media-down($phablet) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .articleTitle {
    margin-bottom: 52px;
  }

  .subTitle {
    color: #b9efff;
    font-size: 36px;
    margin: 0 0 24px;
  }

  p {
    margin: 15px 0;
  }

  a {
    color: #b9efff;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

  }

  .aboutSection {
    color: #82878c;
    font-size: 16px;
    text-align: center;

    .articleTitle {
      color: #82878c;
      background: #e5e9ed;
      margin-bottom: 43px;
    }
    .subTitle {
      color: $main-color;
      background: none;
      margin-bottom: 40px;
    }
    p {
      text-align: left;
    }
    img {
      border-radius: 10px;
      display: inline-block;
      margin: 10px 10px 10px 0;
    }
  }
}
