.popup {
  padding: 50px 20px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  overflow: auto;

  .popupLayer {
    background-color: rgba(50,70,76, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
  }

  .popupBox {
    background-color: #fff;
    color: $text-color;
    position: relative;
    z-index: 9;
    width: auto;
    max-width: 685px;
    margin: 0 auto;
    padding: 20px 50px;
    text-align: left;
    border-radius: 10px;
  }

  .closeBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    border: 0;
    background: none;
    .fa {
      color: $text-color;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .popupBox .cardForm {
    margin: 30px auto;
  }
  .popupBox .input {
    background: #fff;
    padding-left: 20px;
    color: $text-color;
    border-color: #e5e9ed;
  }

  .popupHeader {
    font-size: 30px;
    margin: 20px auto;
    color: $secondary-color;
  }
}

.submitCardBtn {
  max-width: 250px;
  width: 100%;
  float: right;
  height: 60px;
  border-radius: 30px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: bold;
}

@include media-down($desktop) {
  .popup .popupBox {
    padding: 10px 20px;
  }

  .popup .popupHeader {
    font-size: 20px;
    margin: 30px auto 20px;
  }

  .popup .closeBtn {
    right: 5px;
    top: 5px;
  }
}