@import './lib/variables';
@import './lib/reset';
@import './lib/mixins';
@import './lib/general';
@import './lib/buttons';
@import './lib/forms';
@import './lib/animations';
@import './components/header';
@import './components/card';
@import './components/card-popup';
@import './components/article';

.bodyElement {
  color: #a1a8af;
  font-size: 13px;
  background: #003c4e;//#f6f8fa;
  font-family: $font-family;
  padding: 0;
}

.addRulingFormCaption {
  margin: 0 auto 43px;
  display: block;
  text-align: center;

  strong {
    display: inline-block;
    color: #82878c;
    background: #e5e9ed;
    border-radius: 19px;
    padding: 10px 18px;
    font-size: 16px;
    letter-spacing: 2px;
  }

  @include media-down($tablet) {
    margin: 32px auto 20px;
  }

  @include media-down($mobile) {
    margin: 0 auto 20px;
  }
}
.rulingList {
  margin: 143px auto 80px;

  @include media-down($desktop) {
    margin: 20px auto 60px;
  }

}
.addRulingFormCaption + .rulingList {
  margin: 43px auto 80px;
}

.articleTitle {
  display: inline-block;
  border-radius: (38/2) * 1px;
  padding: 10px 18px;
  background: $dark-main-color;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}

.SL-app {
  background-color: #f6f8fa;
}

.SL-footer {
  background: $dark-main-color;
  color: #fff;
  font-size: 16px;
  padding: 30px 0 126px;
  text-align: center;
}